@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    background-color: theme('colors.background');
    color: theme('colors.on-background');
  }
}

@layer utilities {
  .font-headline {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .tea-pattern {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 5c2 0 3 2 3 4s-1 4-3 4-3-2-3-4 1-4 3-4zm10 10c2 0 3 2 3 4s-1 4-3 4-3-2-3-4 1-4 3-4zM20 15c2 0 3 2 3 4s-1 4-3 4-3-2-3-4 1-4 3-4z' fill='%2346674c' fill-opacity='0.03' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
}